﻿@*是否需要上传文件引用*@
@if(Model.IsUploading)
{
@:using JNPF.Common.Models;
}
using CeriOS.@(Model.NameSpace).Entitys.Dto.@(Model.ClassName);
using Mapster;
using System.Collections.Generic;
using System.Text.Json;

namespace CeriOS.@(Model.NameSpace).Entitys.Mapper.@(Model.ClassName);

public class Mapper : IRegister
{
        private static string? ToJson<T>(IList<T> list)
        {
                if (list == null || list.Count == 0) return null;
                return JsonSerializer.Serialize(list).Replace("\r\n", "").Replace(" ", "");
        }

        private static List<string> ParseStringList(string? value)
        {
                if (string.IsNullOrWhiteSpace(value)) return new List<string>();
                try
                {
                        return JsonSerializer.Deserialize<List<string>>(value) ?? new List<string>();
                }
                catch
                {
                        return new List<string>();
                }
        }

        private static List<List<string>> ParseNestedStringList(string? value)
        {
                if (string.IsNullOrWhiteSpace(value)) return new List<List<string>>();
                try
                {
                        return JsonSerializer.Deserialize<List<List<string>>>(value) ?? new List<List<string>>();
                }
                catch
                {
                        return new List<List<string>>();
                }
        }

        private static List<T> ParseList<T>(string? value)
        {
                if (string.IsNullOrWhiteSpace(value)) return new List<T>();
                try
                {
                        return JsonSerializer.Deserialize<List<T>>(value) ?? new List<T>();
                }
                catch
                {
                        return new List<T>();
                }
        }

	public void Register(TypeAdapterConfig config)
	{
@*判断是否需要映射*@
@if(Model.IsMapper)
{
@*判断WebType 1-纯表单,2-常规表单*@
@switch(Model.WebType)
{
case 1:
@{GetCrInputToEntity(); }
@if(Model.EnableFlow || Model.Type == 3){
GetEntityToInfoOutput();
}
break;
case 2:
@{GetCrInputToEntity(); }
@{GetEntityToInfoOutput();}
@if(Model.TableType == 4)
{
GetListOutputToInlineEditorOutput();
}
break;
}
}
	}
}
@{
	@*新增输入转实体*@
	void GetCrInputToEntity()
	{	
		@:config.ForType<@(Model.ClassName)CrInput, @(Model.ClassName)Entity>()
@*循环表字段*@
@foreach (var column in Model.TableField)
{
@*判断ceriKey不为空*@
@if (column.ceriKey != null)
{
switch(column.ceriKey)
{
@*下拉框控件*@
case "select":
case "userSelect":
case "treeSelect":
case "depSelect":
case "posSelect":
case "popupTableSelect":
case "roleSelect":
case "groupSelect":
case "usersSelect":
@*是否为多选*@
@if(column.IsMultiple)
{
			@:.Map(dest => dest.@(column.ColumnName), src => ToJson(src.@(column.LowerColumnName)))
}else{
			@:.Map(dest => dest.@(column.ColumnName), src => src.@(column.LowerColumnName) != null ? src.@(column.LowerColumnName) : null)
}
break;
@*复选框、级联、省市区、图片上传、文件上传*@
case "checkbox":
case "cascader":
case "organizeSelect":
case "areaSelect":
case "uploadImg":
case "uploadFile":
			@:.Map(dest => dest.@(column.ColumnName), src => ToJson(src.@(column.LowerColumnName)))
break;
case "switch":
			@:.Map(dest => dest.@(column.ColumnName), src => src.@(column.LowerColumnName))
break;
case "createTime":
case "modifyTime":
break;
default:
			@:.Map(dest => dest.@(column.ColumnName), src => src.@(column.LowerColumnName) != null ? src.@(column.LowerColumnName) : null)
break;
}
}
}
		@:;
	}
	@*新增输入转实体*@
	void GetEntityToDetailOutput()
	{	
		@:config.ForType<@(Model.ClassName)Entity, @(Model.ClassName)DetailOutput>()
@*循环表字段*@
@foreach (var column in Model.TableField)
{
@if (column.ceriKey != null)
{
switch(column.ceriKey)
{
case "uploadImg":
case "uploadFile":
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseList<FileControlsModel>(src.@(column.ColumnName)))
break;
default:
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.ColumnName) != null ? src.@(column.ColumnName) : null)
break;
}
}
}
		@:;
	}
}
@{
	@*实体转详情输出*@
	void GetEntityToInfoOutput()
	{
		@:config.ForType<@(Model.ClassName)Entity, @(Model.ClassName)InfoOutput>()
@foreach (var column in Model.TableField)
{
@if (column.ceriKey != null)
{
switch(column.ceriKey)
{
case "select":
case "userSelect":
case "treeSelect":
case "depSelect":
case "posSelect":
case "popupTableSelect":
case "roleSelect":
case "groupSelect":
case "usersSelect":
@if(column.IsMultiple)
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.ColumnName)))
}else{
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.ColumnName) != null ? src.@(column.ColumnName) : null)
}
break;
case "cascader":
case "organizeSelect":
case "areaSelect":
@if(column.IsMultiple)
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseNestedStringList(src.@(column.ColumnName)))
}
else
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.ColumnName)))
}
break;
case "checkbox":
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.ColumnName)))
break;
case "uploadImg":
case "uploadFile":
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseList<FileControlsModel>(src.@(column.ColumnName)))
break;
case "createTime":
			@:.Map(dest => dest.@(column.LowerColumnName), src => string.Format("{0:yyyy-MM-dd HH:mm:ss}", src.@(column.ColumnName)))
break;
case "modifyTime":
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.ColumnName) != null ? string.Format("{0:yyyy-MM-dd HH:mm:ss}", src.@(column.ColumnName)) : null)
break;
default:
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.ColumnName) != null ? src.@(column.ColumnName) : null)
break;
}
}
}
		@:;
	}
	@*实体转修改输入*@
	void GetEntityToUpInput()
	{
		@:config.ForType<@(Model.ClassName)Entity, @(Model.ClassName)UpInput>()
@foreach (var column in Model.TableField)
{
@if (column.ceriKey != null)
{
switch(column.ceriKey)
{
case "select":
case "userSelect":
case "treeSelect":
case "depSelect":
case "posSelect":
case "popupTableSelect":
case "roleSelect":
case "groupSelect":
case "usersSelect":
@if(column.IsMultiple)
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.ColumnName)))
}else{
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.ColumnName) != null ? src.@(column.ColumnName) : null)
}
break;
case "cascader":
case "organizeSelect":
case "areaSelect":
@if(column.IsMultiple)
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseNestedStringList(src.@(column.ColumnName)))
}else{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.ColumnName)))
}
break;
case "checkbox":
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.ColumnName)))
break;
case "uploadImg":
case "uploadFile":
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseList<FileControlsModel>(src.@(column.ColumnName)))
break;
default:
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.ColumnName) != null ? src.@(column.ColumnName) : null)
break;
}
}
}
		@:;
	}
	@*列表转行内编辑输出*@
	void GetListOutputToInlineEditorOutput()
	{
		@:config.ForType<@(Model.ClassName)ListOutput, @(Model.ClassName)InlineEditorOutput>()
@foreach (var column in Model.TableField)
{
@if (column.IsShow)
{
switch(column.ceriKey)
{
case "select":
case "userSelect":
case "treeSelect":
case "depSelect":
case "posSelect":
case "popupTableSelect":
case "roleSelect":
case "groupSelect":
case "usersSelect":
@if(column.IsMultiple)
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.LowerColumnName)))
}else{
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.LowerColumnName) != null ? src.@(column.LowerColumnName) : null)
}
break;
case "cascader":
case "organizeSelect":
case "areaSelect":
@if(column.IsMultiple)
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseNestedStringList(src.@(column.LowerColumnName)))
}
else
{
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.LowerColumnName)))
}
break;
case "checkbox":
			@:.Map(dest => dest.@(column.LowerColumnName), src => ParseStringList(src.@(column.LowerColumnName)))
break;
case "switch":
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.LowerColumnName))
break;
default:
			@:.Map(dest => dest.@(column.LowerColumnName), src => src.@(column.LowerColumnName) != null ? src.@(column.LowerColumnName) : null)
break;
}
}
}
		@:;
	}
}