import { lowCodeDemoInstance } from '@@/utils/request'
enum Api {
  Prefix = '/api/@(Model.ClassName)Service',
}

// 获取列表
export function getList(data) {
  return lowCodeDemoInstance.post( Api.Prefix + `/@(Model.Type == 5 ? "Tree" : "")List`, data );
}
// 获取
export function getInfo(id) {
  return lowCodeDemoInstance.get( Api.Prefix + `/` + id );
}

// 新建
export function create(data) {
  return lowCodeDemoInstance.post( Api.Prefix, data );
}

// 修改
export function update(data) {
  return lowCodeDemoInstance.put( Api.Prefix + `/` + data.id, data );
}

@if(Model.HasRemove){
@:// 删除
@:export function del(id) {
  @:return lowCodeDemoInstance.delete( Api.Prefix + `/` + id );
@:}
}
// 批量删除数据
export function batchDelete(ids) {
  return lowCodeDemoInstance.post( Api.Prefix + `/batchRemove`, ids );
}
@if(Model.HasDownload){
@:// 导出
@:export function exportData(data) {
  @:return lowCodeDemoInstance.post( Api.Prefix + `/Actions/Export`, data );
@:}
}
@if(Model.HasDetail){
@:// 详情
@:export function getDetail(id) {
  @:return lowCodeDemoInstance.get( Api.Prefix + `/Detail/` + id );
@:}
}