<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志输入路径-->
      <file value="ErrorLog/" />
      <!--日志是否追加到文件-->
      <appendToFile value="true" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <rollingStyle value="Composite" />
      <!--是否只写到一个文件中-->
      <staticLogFileName value="false" />
      <!--防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--按日期命名文件-->
      <datePattern value="yyyyMMdd'.log'" />
      <!--最多产生文件数超过的话保留最新-->
      <maxSizeRollBackups value="100" />
      <!--每个文件的大小。只在混合方式与文件大小方式下使用。超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  [%thread]  %-5level  %message%newline" />
        <header value="&#xA;----------------------header--------------------------&#xA;" />
        <footer value="&#xA;----------------------footer--------------------------&#xA;"/>
      </layout>
      <!--定义日志级别根据不同的级别调用不同的配置写入-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>

    <appender name="DeBugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志输入路径-->
      <file value="../../../Logs/" />
      <!--日志是否追加到文件-->
      <appendToFile value="true" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <rollingStyle value="Composite" />
      <!--是否只写到一个文件中-->
      <staticLogFileName value="false" />
      <!--防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--按日期命名文件-->
      <datePattern value="yyyyMMdd'.log'" />
      <!--每个文件的大小。只在混合方式与文件大小方式下使用。超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="50MB" />

      <!--最多产生文件数超过的话保留最新-->
      <maxSizeRollBackups value="30" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  [%thread]  %-5level  %message%newline" />
        <header value="&#xA;----------------------header--------------------------&#xA;" />
        <footer value="&#xA;----------------------footer--------------------------&#xA;"/>
      </layout>
      <!--定义日志级别根据不同的级别调用不同的配置写入-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DeBug" />
        <param name="LevelMax" value="DeBug" />
      </filter>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="All" />
      <appender-ref ref="ErrorLogFileAppender" />
      <appender-ref ref="DeBugLogFileAppender" />
    </root>
  </log4net>
</configuration>

